.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.jumbotron {
    margin: auto;
    
}

footer {
    color: #444444;
}

body {
    background-color: #e4000f;
}

.navbar {
    background-color: #444444;
    color: white;
}



.bg-light {
    background-color: #444444!important;
}